// HEADER
$header__background: #170cff;
$header__primary-color: #ffffff;
$header__link-color: #ffffff;

// NEW PRODUCT
$new-product__background: #170cff;

// BESTSELLERS
$bestsellers_background: #ffffff;

// NEW BIKES
$new-bikes_background: #0cff56;

// USER PROFILE
$user-profile_background: #ffffff;

// CHART
$chart_background: #ff3f0c;

// ALL BIKES
$all-bikes_background: #ffffff;

// FOOTER
$footer_background: #170cff;