footer {
  background-color: $footer__background;
  color: $footer__color;
  margin-top: 70px;
}

footer a {
  opacity: 0.6;
  color: $footer__color;
  transition: opacity 0.4s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.container--footer {
  display: flex;
  padding-bottom: 30px;
}

.footer-list {
  flex: 1;
}

.footer-list__title {
  font-size: $footer-list__title;
  font-weight: 700;
  margin-top: 48px;
}

.footer__nav {
  font-size: $footer-list__title;
  margin-top: 32px;
}

.footer__li {
  padding-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .container--footer {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer-list {
    flex: 0 1 34%
  }
}