.all-bikes {
  margin-top: 39px;
}

.bestseller__search {
  background: url('../img/search.png') no-repeat;
  background-position: 10px 5px;
  box-shadow: none;
  border: 1px solid #a6a6a6;
  padding: 6px 45px 8px 39px;
  margin-right: 23px;
  box-shadow: 1px 1px 5px 0px #d9d9d9;
  width: 172px;
}

.bestsellers__form--all {
  flex: 2;
}

.all-bikes__legend {
  text-align: center;
  padding-top: 2px;
  padding-bottom: 30px;
}

.all-bikes__legend--btn {
  display: inline-block;
  margin-top: 16px;
  margin-left: -2px;
  border-radius: 2px;
  padding: 8px 11px 7px 8px;
  color: $all-bikes__btn__color;
  border: 1px solid $all-bikes__btn__border-color;
  font-size: $all-bikes__btn;
  background-color: $all-bikes__btn__background;
}

.all-bikes__caret {
  border-color: $all-bikes__btn__color;
  margin: 0 6px 3px 3px;
}

@media screen and (max-width: 768px) {
  .bestsellers__form {
    text-align: center;
    line-height: 50px;
    margin-top: -35px;
  }

  .bestsellers__form--all {
    margin-top: 15px;
  }

  .bestseller__search {
    margin-right: 0;
    width: 65%;
  }

  .bestsellers__select {
    width: 70%;
  }

  label::before {
    content: "\A";
    white-space: pre;
  }
}