.user-profile {
  color: $user-profile__color;
  background-color: $user-profile__background;
}

.user-profile__container {
  display: flex;
}

.user-profile__history, .user-profile__formations {
  flex: 1;
}

.user-profile__formations {
  margin-left: -26px;
}

.user-profile__history {
  padding-right: 25px;
}

.order__link {
  display: flex;
  color: $user-profile__color;
  align-items: center;
  padding-top: 13px;
}

.user-profile__title {
  font-size: $user-profile__title;
  margin-top: 50px;
}

.user-profile__orders {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 22px;
  margin-bottom: -7px;
  padding-right: 25px;
}

.user-profile__order {
  flex: 1;
  height: 100px;
  border-bottom: 1px solid #d6d6d6;
  &:last-child {
    border-bottom: none;
  }
  cursor: pointer;
  &:hover .order__btn {
    opacity: 1;
  }
}

.order-description__title {
  font-size: $order-description__title;
  font-weight: 700;
  margin-bottom: 0;
}

.order-images {
  flex: 0 0 107px;
  margin-top: 9px;
}

.order-description {
  flex: 2;
}

.order-images__profile {
  display: inline-block;
  height: $order-images__profile;
  width: $order-images__profile;
  border-radius: 50%;
  border: 1px solid $order-images__profile__border-color;
}

.order-images__profile--danger {
  border: 1px solid $order-images__profile__border-color--danger;
}

.order-images__profile--user1 {
  background: url('../img/user1.png');
  background-position: -9px -6px;
}

.order-images__profile--user2 {
  background: url('../img/user2.png');
  background-position: -5px 0;
}

.order-images__status {
  display: inline-block;
  margin-left: -15px;
}
.order-description__text {
  font-size: $order-description__text;
  font-weight: 400;
  margin: 2px 0px 8px;
}

.order-description__username {
  font-weight: 700;
}

.order-description__time {
  font-weight: 700;
}

.order-description__action {
  font-size: $order-description__action;
  font-weight: 700;
  padding-left: 1px;
}

.order__btn {
  display: inline-block;
  margin-top: 11px;
  border-radius: 2px;
  padding: 6px 11px 8px 10px;
  color: $order-description__btn__color;
  border: 1px solid $order-description__btn__color;
  font-size: $order-description__btn;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.order____caret {
  border-color: $order-description__btn__color;
  margin-left: 12px;
}

.user-profile__order--danger {
  .order-images__profile {
    border-color: $user-profile__color--danger !important;
  }

  .order__btn {
    border-color: $user-profile__color--danger !important;
  }

  .order-description__action {
    color: $user-profile__color--danger !important;
  }
  .order____caret {
    border-color: $user-profile__color--danger !important;
  }
}

.user-profile__order--success {
  .order-images__profile {
    border-color: $user-profile__color--success !important;
  }

  .order__btn {
    border-color: $user-profile__color--success !important;
  }

  .order-description__action {
    color: $user-profile__color--success !important;
  }
  .order____caret {
    border-color: $user-profile__color--success !important;
  }
}

.formation__title {
  font-size: $formation__title;
  margin: 50px 0px 22px 23px;
}

.formation__image {
  height: $formation__image;
  width: $formation__image;
  border: 1px solid #babcb2;
  border-radius: 50%;
  margin-top: 24px;
  background: url('../img/formation.png');
  background-size: cover;
  background-position: -24px -2px;
}

.formation {
  height: 100px;
  border-bottom: 1px solid #d6d6d6;
  &:last-child {
    border-bottom: none;
  }
  cursor: pointer;
}

.formation-description {
  margin-top: 18px;
  margin-left: 18px;
  color: $formation-description__color;
}

.formation-description__category {
  font-size: $formation-description__category;
}

.formation-description h1 {
  font-size: $formation-description__title;
  font-weight: 700;
  margin-top: 0;
}

.formation-description__recommended {
  font-size: $formation-description__recommended;
  font-weight: 700;
  color: $formation-description__recommended__color;
}

.formation__link {
  display: flex;
}

.formation__image {
  flex: 0 0 50px;
}

.formation-description {
  flex: 1;
}

.btn--legend {
  display: inline-block;
  margin-top: 16px;
  margin-left: 2px;
  border-radius: 2px;
  padding: 8px 11px 7px 8px;
  color: $user-profile__btn__color;
  border: 1px solid $user-profile__btn__border-color;
  font-size: 14px;
  background-color: $user-profile__btn__background-color;
}

.legend {
  display: block;
  text-align: center;
  padding-right: 25px;
}

.legend__caret {
  border-color: $user-profile__btn__color;
  margin: 0 0 3px 4px;
}

.legend__hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $user-profile__btn__border-color;
  z-index: -1;
  margin-top: -16px;
}

.formation__ul {
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .user-profile__container {
    display: block;
    padding: 0 30px;
  }

  .order__action {
    display: none;
  }
}